.post-form {
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
}

.post-textarea {
    width: 100%;
    height: auto;
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: border-color 0.3s;
    resize: none;
    margin-top: 100px;
}

.post-textarea:focus {
    border-color: #000000;
    outline: none;
}

.post-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #1e3972;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
}

.post-button:hover {
    background-color: #020013;
    transform: scale(1.05);
}

.post-button:active {
    transform: scale(1);
}
